* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: "Lato", sans-serif;
  color: antiquewhite;
  margin: 30px;
}

h1 {
  margin-bottom: 30px;
}

#postsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

#postsContainer div {
  background-color: #4a4949;
  padding: 20px;
  border-radius: 10px;
}

p {
  margin-top: 10px;
}
