* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b2cbcb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #545252;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

h1 {
  align-self: center;
  justify-self: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

#search-license {
  display: inline;
}

#car-form {
  display: inline;
  background-color: #faebd7;
  padding: 20px;
  margin-bottom: 40px;
  width: 200px;
}

input,
button {
  display: block;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #7d7575;
  margin-bottom: 12px;
}

input[type="color"] {
  padding: 2px;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button[type="submit"],
button[type="reset"] {
  display: inline;
}

table {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

tr,
th,
td {
  padding: 10px;
  /* border: 1px solid #000; */
}

tr:nth-child(even) {
  background-color: #e6dbdb;
}

th:nth-child(even) {
  background-color: rgb(253, 255, 240);
}

/* td:nth-child(even) {
  background-color: rgb(253, 255, 240);
} */

footer {
  justify-self: flex-end;
}
