* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #d8dad3;
}

header,
section,
footer {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: sticky;
  top: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 6px;
}

nav ul {
  display: block;
}

nav a {
  color: inherit;
  text-decoration: none;
}

section {
  min-height: 75vh;
}

section:first-child,
header {
  background-color: #392f2f;
}

section:nth-child(2) {
  background-color: #20231a;
}

footer {
  background-color: #000;
}

button {
  border: none;
  box-shadow: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-size: inherit;
  font-family: inherit;
  background-color: #544949;
  color: antiquewhite;
}

#backToTop {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  transition: visibility 0s, opacity 0.5s ease-out;
}

.bg {
  background-color: white;
  color: #20231a;
  height: 50px;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.mobile {
  display: none;
  background: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  nav ul {
    display: none;
  }
  .mobile {
    display: block;
  }
  ul.responsive {
    display: block;
    background-color: antiquewhite;
    color: #20231a;
    position: absolute;
    left: 0;
    width: 100%;
  }
  ul.responsive li {
    display: block;
    padding: 1rem;
  }
  ul.responsive li:nth-child(even) {
    background-color: rgb(221, 210, 192);
  }

  header {
    background-color: antiquewhite;
    color: #20231a;
  }
}

.material-symbols-outlined {
  color: #20231a;
}
