body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff8f0;
  color: #5a4a42;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.image-container {
  position: relative;
  flex: 1;
}

.image-container img {
  object-fit: cover;
  width: 50vw;
  height: 100vh;
  /* border-radius: 20px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container {
  flex: 1;
  padding: 20px;
  margin-top: 10%;
}

.price-banner {
  position: absolute;
  top: 200px;
  left: 70%;
  transform: translateX(-50%);
  background-color: #d17b49;
  color: #f7e1e1;
  border: solid 4px #b26030;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@keyframes zoom {
  0% {
    transform: scale(1, 1) rotate(0);
  }
  50% {
    transform: scale(1.7, 1.7) rotate(15deg);
  }
  100% {
    transform: scale(1, 1) rotate(0);
  }
}
