* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  background-color: #9bb79c;
  line-height: 1.5;
}

section {
  width: 420px;
  margin: 200px auto;
  padding: 26px 40px;
  background-color: #cedec9;
  border-radius: 10px;
}

input {
  width: 192px;
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: 16px 0;
  border-radius: 20px;
}

.pancakeBtn {
  background-color: rgb(232, 98, 205);
}

.pancakeLi {
  font-family: "Comic Sans MS", sans-serif;
  font-weight: 500;
}

.hidden {
  display: none;
}
